
* {
    font-family: "Host Grotesk", sans-serif;

}

body { 
    max-height: 4,501px;
    max-width: 1,440px;
    margin: 0 auto; 
}
.common-btn {
    background: #E8BA2E;
;
    padding: 12px 40px;
    border-radius: 10px;
    font-weight: 66px;
    font-size: 16px;
    color: #000102;
    border: none;
    cursor: pointer;
}
img {
    max-width: 100%;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* Nav section */
nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 24px 25px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 24px;
    margin-right: 247px;
}
nav ul li a{
    text-decoration: none;
    color: gray;
}

/* Hero section style */
.hero-parent {
    display: flex;
    background-image: url(./image/Background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    max-height: 786px;
}
.hero-content {
    text-align: start;
    margin-top: 248px;
    padding-left: 44px;
}
.hero-content-top h1{
    letter-spacing: -4%;
    line-height: 100%;
    font-size: 88px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0px;
}
.hero-content-top p {
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 150%;
    letter-spacing: 0%;

}

/* Ticket section style */

.ticket-section {
    background: rgba(244, 196, 48, 1);
}
.ticket-section .ticket-parent {
    display: flex;
    justify-content: space-between;
    padding: 20px 39px;
    margin: 14px auto;
}
.ticket-section .ticket-parent p {
    font-weight: 400;
    color: rgba(0, 1, 2, 1);
    letter-spacing: -0.3px;
}
.ticket-section .ticket-parent h1 {
    color: rgba(0, 1, 2, 1);
    font-weight: 700;
    font-size: 72px;
    line-height: 115%;
    letter-spacing: -2%;
    margin: 0px;
}

/* Host section style */

.host-section .host-section-top {
    text-align: center;
    font-weight: 600;
    font-size: 56px;
    letter-spacing: 0%;
}
.host-container {
    display: flex;
    justify-content: space-between;

}
.cities-image {
    width: 100%;
    height: 100%;
    margin-right: 48px;
    margin-top: 7px;
}
.host-content h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1%;
    color: rgba(0, 1, 2, 1);
}
.host-content p , .host-content ul {
    color: #575757;
}
.host-content p {
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 150%;
}
.host-content .citie-details {
    margin-left: 20px;
    padding-right: 80px;
}
.host-content ul {
    
}
.host-content ul li {
    
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0%;
    line-height: 150%;
}